<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recomendation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/get-recommendations" method="post">
        <input type="text" name="song" class="input" placeholder="Write down your favourite song">
    </form>
</body>
</html>