<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recomendation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <% for(i=0; i < content.length; i++){ %>
        <div class="card"><p><%= content[i].name %></p></div>
    <% } %>
</body>
</html>